*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    background-color: black;
    color: white;

}

.mask {
    overflow: hidden;
}

.outer{
    overflow-x: hidden;
}

.slider{
    display: flex;
    width: 300vw;
}

section{
    height: 85vh;
    width: 100%;

    h1{
        text-transform: uppercase;
    }
}

.inner{
    margin: 7em;
    position: relative;
    display: flex;
    height: calc(100% - 14em);
}